body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}
/* reset */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* скидаємо марджин заголовків та параграфів до «0»  */

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
} /*для видалення маркерів елементів списку, скидаємо марджин падінг та  до «0»*/

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
/* common */

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* header*/

.header-box {
  /* header зверху сторінки постійно і не прозорий   */
  /* position: fixed;
  width: 100%;
  background-color: #e7e9fc; */
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-div {
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.nav-logo .logo-studio {
  color: #2e2f42;
}
.nav-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-ul-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-ul-link.current {
  position: relative;
}
.nav-ul-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.nav-adress {
  font-style: normal;
  margin-left: auto;
}
.adress-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-ul-link:hover,
.nav-ul-link:focus,
.adress-link:hover,
.adress-link:focus,
.nav-ul-link.current {
  color: #404bbf;
  /* background-color: #da0913; */
}
/*main*/
/*hero*/

.hero {
  max-width: 1440px;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-tekst {
  max-width: 496px;
  margin: 0 auto 48px auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  border-radius: 4px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

/*directions*/
.directions {
  padding: 120px 0;
  background-color: #fff;
}
.directions-ul {
  display: flex;
  gap: 24px;
}
.directions-li {
  width: 264px;
  height: 224px;
}
.directions-icon {
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.directions-h {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.directions-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  align-items: flex-end;
}

/*Our Team*/

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.team-ul {
  display: flex;
  gap: 24px;
}
.team-ul-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.team-div {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-surname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.team-social {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #31d0aa;
}
.team-social-color {
  fill: #f4f4fd;
}
/* Our Portfolio */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
}
.portfolio-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-li {
  width: 360px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin-bottom: 48px;
}
.portfolio-li-pone {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-img-cashless {
  width: 360px;
  height: auto;
}

.portfolio-cashless-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 164px;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay:hover .overlay {
  transform: translateY(0);
}
.overlay {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #3f51b5;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  padding: 40px 32px 164px;
}
.portfolio-img {
  width: 360px;
  height: 300px;
}
.portfolio-div-name {
  padding: 32px 16px;
}
.portfolio-li-ptwo {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*footer*/
.footer-page {
  background-color: #2e2f42;
  padding: 100px;
}
.footer-all {
  display: flex;
}
.footer-page-div {
  margin-right: 120px;
}
.footer-logo {
  display: flex;
  margin-bottom: 16px;
}
.footer-logo .logo-studio {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer-diw-two {
  margin-right: 80px;
}
.footer-social-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.team-social-footer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.subscripe-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
}
.footer-subscribe-input {
  background-color: #2e2f42;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  color: #fff;
  margin-right: 24px;
  padding-left: 16px;
}
.footer-subscribe-btn {
  width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  fill: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-subscribe-svg {
  margin-left: 16px;
}
/* Modal windows */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%), scale(1.5);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border-color: rgba(0, 0, 0, 0.1);
}
.modal-close-btn:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.modal-close-btn:hover .close-icon {
  fill: #f3f0f0;
}
.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #2e2f42;
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding: 72px 24px 16px;
}
.form-mod {
  padding-left: 24px;
}
.div-form {
}
.label-mod {
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.input-form {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.modal-icons {
  position: absolute;
  left: 43px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icons:hover {
  fill: #4d5ae5;
}
.input-comment {
  min-height: 120px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding-left: 16px;
  padding-bottom: 94px;
}
.div-terms {
  margin-top: 16px;
}
.label-terms {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.button-send {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border-radius: 4px;
  width: 169px;
  height: 56px;
}
.button-send:hover,
.button-send:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}
.form-send-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 16px;
}
