body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* скидаємо марджин заголовків та параграфів до «0»  */

ul, 
ol {
  list-style: none;
  padding: 0;
  margin: 0;
} /*для видалення маркерів елементів списку, скидаємо марджин падінг та  до «0»*/
img {
  display: block;
}
* {
  box-sizing: border-box;
}
