body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
  }

a {
  text-decoration: none;
}
     /* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* скидаємо марджин заголовків та параграфів до «0»  */

ul, 
ol {
  list-style: none;
  padding: 0;
  margin: 0;
} /*для видалення маркерів елементів списку, скидаємо марджин падінг та  до «0»*/

img {
  display: block;
  max-width: 100%;
  }

* {
  box-sizing: border-box;
}
      /* common */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

              /* header*/
.header-box {
  border-bottom: 1px solid #e7e9fc;
}
.header-div{
  display: flex;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo-studio {
  color: #2e2f42;
   
}
.nav-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-ul-li {

}
.nav-ul-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-adress {
  font-style: normal;
  margin-left: auto;
}
.adress-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*main/
/*footer/