body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  }

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* скидаємо марджин заголовків та параграфів до «0»  */

ul, 
ol {
  list-style: none;
  padding: 0;
  margin: 0;
} /*для видалення маркерів елементів списку, скидаємо марджин падінг та  до «0»*/

img {
  display: block;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.temp {
  background: #b32937;
  border: #0f0f16;
}

              /* header*/
.header-box {
  
}
.header-div{
  display: flex;
}
.nav-header {display: flex;
  padding: 24px 0;
}
.logo {
font-family:  "Raleway" , sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-studio {
    color: #2e2f42;
    margin-right: 76px;
}
.nav-ul {
  display: flex;
  margin-right: 332px;
}
.nav-ul-li {
 padding-right: 40px;
}
.nav-ul-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.nav-adress {
  display: flex;
  padding: 24px 0;
}
/*main/
/*footer/